* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container div {
    margin: 5px 0;
}

.limbs, .genders, .radios, #gender-block, #limbs-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gender-block .radios {
    width: 82%;
}

.radios {
    width: 65%;
    padding: 0 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#send-btn {
    width: 100%;
    background-color: red;
}

.error {
    color: rgba(245, 46, 46, 1);
    border: 1px solid rgba(245, 46, 46, 1);
    box-shadow: 0px 10px 20px rgba(245, 46, 46, 1);
    margin: 7px;
}

.login {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 50px auto;
}

.login div {
    margin-bottom: 7px;
}

.logout-btn {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.logout-btn a {
    border: 1px solid #fd7d06;
    padding: 3px 4px;
    border-radius: 7px;
    background-color: #fd7d06;
    color: #fff;
    text-decoration: none;
    transition: 400ms;
}

.logout-btn a:hover {
    color: #fff;
    background-color: #c86203;
}